# BEGIN ANSIBLE MANAGED BLOCK

server: https://{{ rke2_config.server }}

{% if rke2_config.token is defined and rke2_config.token | length > 0 %}
token: {{ rke2_config.token }}
{% endif %}

{% if rke2_config.tls_san is defined and rke2_config.tls_san | length > 0 %}
tls-san:
{% for ip in rke2_config.tls_san %}
  - {{ ip }}
{% endfor %}
{% endif %}

# END ANSIBLE MANAGED BLOCK